---
// JS 
---
<!-- This is a dummy site, no actions are being applied here!
Remove once real data start coming -->

<h1>Hello world with no style!!</h1>
<h1 class="text-3xl font-bold">
    Hello world with style!!
</h1>

