---
// this is a standar design for the MarkDown Pages
const {title} = Astro.props
import Headers from "../components/Header.astro";

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    ,<meta http-equiv="X-UA-compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
    <body class="bg-slate-900 text-slate-400">
        <div class="inline-block max-w-xl p-4 md:pd-8 mx-auto mt-4">
            <div class="bg-white shadow rounded-lg p-4">
                <slot />
            </div>
        </div>
    </body>
</html>
